@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="vitals">
        <p>💕 10</p>
    </div>

    <div class="center">
        <div class="crosshair"></div>
    </div>

    <div class="healthbars">
        <div class="healthbar">
            <div class="inner">
                <div class="fill" style="width: @(80 / 100 * 100f)%">
                </div>
            </div>
        </div>
        <div class="staminabar">
            <div class="inner">
                <div class="fill" style="width: @(75 / 100 * 100f)%">
                </div>
            </div>
        </div>
    </div>

    <div class="xpbars">
        <div class="xpbar">
            <div class="inner">
                <div class="fill" style="width: @(Stats.currentXP / 100 * 100f)%">
                </div>
            </div>
        </div>
    </div>

</root>

@code
{
    [Property] PlayerStats Stats { get; set; }

    //string GetHP()
    //{
        //var hp = (int)Unit.Health;
        //return $"{hp}";
    //}
    
    protected override int BuildHash()
    {
        return System.HashCode.Combine( @Stats.currentXP );
    }
}
