PlayerHud {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: fantasy;
	font-weight: bold;
	border-radius: 20px;
	gap: 10px;
	font-size: 24px;
	color: white;
	text-shadow: 3px 3px 3px #000a;

	> .vitals {
		position: absolute;
		left: 32px;
		bottom: 32px;
		background-color: #0004;
		border-radius: 3px;
		border: 1px white;
		padding: 10px 20px;
		color: white;
		font-weight: bolder;
		font-size: 30px;
		font-family: poppins;
		justify-content: center;
		align-items: center;
		gap: 16px;
		backdrop-filter: blur( 20px );
	}

	.healthbars {
		position: absolute;
		bottom: 32px;
		left: 170px;
		flex-direction: column;
		border-radius: 3px;
		border: 1px white;
		color: white;

		> .healthbar {
			width: 200px;
			height: 32px;
			background-color: #0009;
			padding: 5px;

			> .inner {
				background-color: #1a1a1ade;
				flex-grow: 1;

				> .fill {
					height: 100%;
					background-color: red;
				}
			}
		}

		> .staminabar {
			width: 200px;
			height: 32px;
			background-color: #0009;
			padding: 5px;

			> .inner {
				background-color: #1a1a1ade;
				flex-grow: 1;

				> .fill {
					height: 100%;
					background-color: lawngreen;
				}
			}
		}
	}


	> .xpbars {
		position: absolute;
		bottom: 120px;
		left: 32px;
		flex-direction: column;
		border-radius: 3px;
		border: 1px white;
		color: white;

		> .xpbar {
			width: 340px;
			height: 32px;
			background-color: #0009;
			padding: 5px;

			> .inner {
				background-color: #1a1a1ade;
				flex-grow: 1;

				> .fill {
					height: 100%;
					background-color: goldenrod;
				}
			}
		}
	}
}
